<div class="container mt-5">
  <% if @line.active %>
    <% if @line.user == current_user %>
      <div class="clock-container" data-controller="line">
       <div class="clock-container-1">
        <div class="clock-container-2">
           <div class="clock-container-3">
              <p class="mb-0"><%= @line.start_date.strftime("Started at %I:%M %p") %></p>
              <div data-target="line.place" hidden><%= @place.id %></div>
              <div data-target="line.line" hidden><%= @line.id %></div>
              <div id="clock" data-target="line.clock"><%= image_tag "spin.svg" %></div>
                <%= simple_form_for([@place, @line]) do |f| %>
                  <%= f.button :submit, "End line", class: "btn-end" %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      A line is being recorded by another user!
    <% end %>
  <% else %>
    <div class="container d-flex justify-content-center">
      <div class="card pt-0 pb-0 text-center recorded" style="width: 24rem;">
        <div class="card-body p-0 m-0">
          <div class="card-line-recorded">
            <%= render "shared/star" %>
             <p class="ml-1">Line up recorded!</p>
          </div>
          <h1 class="m-0 p-0">
            <%= (Time.zone.local(@line.end_date.year, @line.end_date.month, @line.end_date.day, 0, 0, 0) + (@line.end_date - @line.start_date)).to_s.split(" ")[1] %>
          </h1>
        </div>
      </div>
    </div>
    <div class="container" style="max-width: 600px;">
  <div class="card mt-3 mb-3">
    <div class="card-body p-3">
      <div class="d-flex justify-content-between mb-0">
        <div class="card-title mb-0">
          <strong><%= @place['name'] %></strong>
        </div>
        <small class="text-right"><%= @distance %></small>
      </div>
      <small class="text-left"><%= @place['vicinity'] %></small>
      <br>
      <small class="mb-0 mt-2"><%= @place['phone_number'] %></small>
      <p class="text-center mb-0">Thank you for your participation !</p>
      <!-- TODO !-->
      <% unless @place.lines.empty? %>
        <hr class="mt-5 mb-2">
        <p class="text-center mb-0">Based on your amazing participation, this is the lineup trend of this location:</p>
        <%= render "places/graph" %>
      <% end %>
    </div>
  </div>
</div>
  <% end %>
</div>
