<!--
<div class="container mb-3">
  <%= form_tag("/places/search", method: :get, remote: true) do %>
    <div class="d-flex">
      <%= text_field_tag :query, params[:query], class: "form-control" %>
      <%= button_tag(type: "submit", class: "btn btn-primary") do %>
        <i class="ni ni-send"></i>
      <% end %>
    </div>
  <% end %>
</div>
-->

<div class="container mb-3">
    <div class="d-flex">
      <%= text_field_tag :query, params[:query], data: { target: 'search.keyword' }, class: "form-control" %>
      <%= button_tag(type: "submit", class: "btn btn-primary",
        data: { action: 'click->search#search' }) do %>
        <i class="ni ni-send"></i>
      <% end %>
    </div>
</div>

