<% if @place.lines.empty? || !@place.lines.last.active %>
  <%= simple_form_for([@place, @line]) do |f| %>
      <%= f.button :submit, "Start line", class: "btn btn-link btn-sm" %>
  <% end %>
<% else %>
  <% if @place.lines.last.user == current_user %>
    <%= simple_form_for([@place, @place.lines.last]) do |f| %>
      <div>
        Started at: <%= @place.lines.last.start_date %>
      </div>
      <%= f.button :submit, "End line", class: "btn btn-link btn-sm" %>
    <% end %>
  <% end %>
<% end %>

<div class="container">
  {<br>
      name: <%= @place['name'] %>,<br>
      address: <%= @place['address'] %>,<br>
      latitude: <%= @place['latitude'] %>,<br>
      longitude: <%= @place['longitude'] %>,<br>
      rating: <%= @place['rating'] %>,<br>
      google_place_id: <%= @place['google_place_id'] %><br>
    },<br>
</div>

<div id="info-container" data-place-id="<%= @place.id %>">
  <%= render "lines/info" %>
</div>

