<div class="container" data-controller="line">
  <div style="display: none;" data-target="line.place"><%= @place.id %></div>
  <div data-target="line.start"></div>
  <div data-target="line.timer">00:00:00</div>
  <div data-target="line.control">
    <%= button_tag(type: "submit", class: "btn btn-link btn-sm", data: { action: "click->line#startLine" }) do %>
      Start line
    <% end %>
  </div>
</div>
<div class="container">
<br>
  {<br>
      name: <%= @place['name'] %>,<br>
      address: <%= @place['address'] %>,<br>
      latitude: <%= @place['latitude'] %>,<br>
      longitude: <%= @place['longitude'] %>,<br>
      rating: <%= @place['rating'] %>,<br>
      google_place_id: <%= @place['google_place_id'] %><br>
    },<br>
</div>
