<div class="container" data-controller="line">
  <% if @place.lines.empty? || !@place.lines.last.active %>
  <div data-target="line.start"></div>
    <div data-target="line.timer">00:00:00</div>
    <div data-target="line.controls">
      <%= button_tag(type: "submit", class: "btn btn-link btn-sm", data: { action: "click->line#startLine" }) do %>
        Start line
      <% end %>
      <div id="info-container" data-place-id="<%= @place.id %>">
        <%= render "lines/info" %>
      </div>
    </div>
    <div data-target="line.place" style="display: none;"><%= @place.id %></div>
  <% else %>
    <% if @place.lines.last.user == current_user %>
      Started at <%= @place.lines.last.start_date.strftime("%l:%M %p") %>
      <div data-target="line.timer">00:00:00</div>
      <%= render "lines/controls" %>
    <% else %>
      Started at <%= @place.lines.last.start_date.strftime("%l:%M %p") %>
      <div id="info-container" data-place-id="<%= @place.id %>">
        <%= render "lines/info" %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="container">
  {<br>
      name: <%= @place['name'] %>,<br>
      address: <%= @place['address'] %>,<br>
      latitude: <%= @place['latitude'] %>,<br>
      longitude: <%= @place['longitude'] %>,<br>
      rating: <%= @place['rating'] %>,<br>
      google_place_id: <%= @place['google_place_id'] %><br>
    },<br>
</div>
