 <div class="container">
  <% if @place.lines.empty? || !@place.lines.last.active? %>
    <%= simple_form_for([@place, @line]) do |f| %>
      <%= f.text_field :start_date, type: "hidden" %>
      <%= f.button :submit, "Start line", class: "btn btn-link btn-sm" %>
    <% end %>
  <% else %>
    <%= simple_form_for([@place, @place.lines.last]) do |f| %>
      <%= f.text_field :start_date, type: "hidden" %>
      <%= f.button :submit, "End line", class: "btn btn-link btn-sm" %>
    <% end %>
    <%= @place.lines.last.start_date %>
  <% end %>

<br>
  {<br>
      name: <%= @place['name'] %>,<br>
      address: <%= @place['address'] %>,<br>
      latitude: <%= @place['latitude'] %>,<br>
      longitude: <%= @place['longitude'] %>,<br>
      rating: <%= @place['rating'] %>,<br>
      google_place_id: <%= @place['google_place_id'] %><br>
    },<br>
</div>
