<!DOCTYPE html>
<html>
  <head>
    <title>InQueue – Join the movement starting a lineup once your are on the spot. Find places and their waiting time.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_KEY']}" %>
  </head>

  <body class="Site">
    <%= render 'shared/flashes' %>
    <main class="Site-content">
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
